## Tips Dataset

In [94]:
![Image of Pandas]('https://pandas.pydata.org/_static/pandas_logo.png')

'[Image' is not recognized as an internal or external command,
operable program or batch file.

### Loading data

## Link to tips dataset: https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv

In [6]:
#Import Pandas (Data Structure Library which structure data in columns and rows)
import pandas as pd

# Import numerical library 'Numpy' to perform mathemtical operations 
import numpy as np

# Import metplotlib library to buil plots
import matplotlib.pyplot as plt

#Import Statistical plotting library 'Seaborn' to create more advanced plot visualizations
import seaborn as sns

In [28]:
# Load the Tips dataset from the link
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

#### Selecting rows and columns

In [35]:
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')
df[['total_bill', 'tip']]

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
5         25.29  4.71
6          8.77  2.00
7         26.88  3.12
8         15.04  1.96
9         14.78  3.23
10        10.27  1.71
11        35.26  5.00
12        15.42  1.57
13        18.43  3.00
14        14.83  3.02
15        21.58  3.92
16        10.33  1.67
17        16.29  3.71
18        16.97  3.50
19        20.65  3.35
20        17.92  4.08
21        20.29  2.75
22        15.77  2.23
23        39.42  7.58
24        19.82  3.18
25        17.81  2.34
26        13.37  2.00
27        12.69  2.00
28        21.70  4.30
29        19.65  3.00
..          ...   ...
214       28.17  6.50
215       12.90  1.10
216       28.15  3.00
217       11.59  1.50
218        7.74  1.44
219       30.14  3.09
220       12.16  2.20
221       13.42  3.48
222        8.58  1.92
223       15.98  3.00
224       13.42  1.58
225       16.27  2.50
226       10.09  2.00
227       20.45  3.00
228       13.28  2.72
229       22.12  2.88
230       24.01  2.00
231       15.69  3.00
232       11.61  3.39
233       10.77  1.47
234       15.53  3.00
235       10.07  1.25
236       12.60  1.00
237       32.83  1.17
238       35.83  4.67
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

In [36]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [37]:
df.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [38]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [40]:
df.mean()

total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64

In [ ]:
(df.loc[df.loc[:, 'species'] == 'versicolor']).describe()

In [8]:
df.loc[:, 'sex']

0      Female
1        Male
2        Male
3        Male
4      Female
5        Male
6        Male
7        Male
8        Male
9        Male
10       Male
11     Female
12       Male
13       Male
14     Female
15       Male
16     Female
17       Male
18     Female
19       Male
20       Male
21     Female
22     Female
23       Male
24       Male
25       Male
26       Male
27       Male
28       Male
29     Female
        ...
214    Female
215    Female
216      Male
217      Male
218      Male
219    Female
220      Male
221    Female
222      Male
223    Female
224      Male
225    Female
226    Female
227      Male
228      Male
229    Female
230      Male
231      Male
232      Male
233      Male
234      Male
235      Male
236      Male
237      Male
238    Female
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex, Length: 244, dtype: object

In [10]:
# Check the index
df.sort_values(by='tip')

     total_bill    tip     sex smoker   day    time  size
67         3.07   1.00  Female    Yes   Sat  Dinner     1
236       12.60   1.00    Male    Yes   Sat  Dinner     2
92         5.75   1.00  Female    Yes   Fri  Dinner     2
111        7.25   1.00  Female     No   Sat  Dinner     1
0         16.99   1.01  Female     No   Sun  Dinner     2
215       12.90   1.10  Female    Yes   Sat  Dinner     2
237       32.83   1.17    Male    Yes   Sat  Dinner     2
235       10.07   1.25    Male     No   Sat  Dinner     2
75        10.51   1.25    Male     No   Sat  Dinner     2
135        8.51   1.25  Female     No  Thur   Lunch     2
43         9.68   1.32    Male     No   Sun  Dinner     2
146       18.64   1.36  Female     No  Thur   Lunch     3
218        7.74   1.44    Male    Yes   Sat  Dinner     2
195        7.56   1.44    Male     No  Thur   Lunch     2
30         9.55   1.45    Male     No   Sat  Dinner     2
233       10.77   1.47    Male     No   Sat  Dinner     2
126        8.52   1.48    Male     No  Thur   Lunch     2
190       15.69   1.50    Male    Yes   Sun  Dinner     2
57        26.41   1.50  Female     No   Sat  Dinner     2
97        12.03   1.50    Male    Yes   Fri  Dinner     2
99        12.46   1.50    Male     No   Fri  Dinner     2
117       10.65   1.50  Female     No  Thur   Lunch     2
132       11.17   1.50  Female     No  Thur   Lunch     2
217       11.59   1.50    Male    Yes   Sat  Dinner     2
145        8.35   1.50  Female     No  Thur   Lunch     2
130       19.08   1.50    Male     No  Thur   Lunch     2
53         9.94   1.56    Male     No   Sun  Dinner     2
12        15.42   1.57    Male     No   Sun  Dinner     2
224       13.42   1.58    Male    Yes   Fri   Lunch     2
168       10.59   1.61  Female    Yes   Sat  Dinner     2
..          ...    ...     ...    ...   ...     ...   ...
5         25.29   4.71    Male     No   Sun  Dinner     4
95        40.17   4.73    Male    Yes   Fri  Dinner     4
46        22.23   5.00    Male     No   Sun  Dinner     2
39        31.27   5.00    Male     No   Sat  Dinner     3
142       41.19   5.00    Male     No  Thur   Lunch     5
143       27.05   5.00  Female     No  Thur   Lunch     6
156       48.17   5.00    Male     No   Sun  Dinner     6
185       20.69   5.00    Male     No   Sun  Dinner     5
11        35.26   5.00  Female     No   Sun  Dinner     4
83        32.68   5.00    Male    Yes  Thur   Lunch     2
197       43.11   5.00  Female    Yes  Thur   Lunch     4
73        25.28   5.00  Female    Yes   Sat  Dinner     2
116       29.93   5.07    Male     No   Sun  Dinner     4
155       29.85   5.14  Female     No   Sun  Dinner     5
172        7.25   5.15    Male    Yes   Sun  Dinner     2
211       25.89   5.16    Male    Yes   Sat  Dinner     4
85        34.83   5.17  Female     No  Thur   Lunch     4
52        34.81   5.20  Female     No   Sun  Dinner     4
44        30.40   5.60    Male     No   Sun  Dinner     4
181       23.33   5.65    Male    Yes   Sun  Dinner     2
88        24.71   5.85    Male     No  Thur   Lunch     2
239       29.03   5.92    Male     No   Sat  Dinner     3
47        32.40   6.00    Male     No   Sun  Dinner     4
183       23.17   6.50    Male    Yes   Sun  Dinner     4
214       28.17   6.50  Female    Yes   Sat  Dinner     3
141       34.30   6.70    Male     No  Thur   Lunch     6
59        48.27   6.73    Male     No   Sat  Dinner     4
23        39.42   7.58    Male     No   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
170       50.81  10.00    Male    Yes   Sat  Dinner     3

[244 rows x 7 columns]

In [39]:
df.loc[:, 'tip']

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
5      4.71
6      2.00
7      3.12
8      1.96
9      3.23
10     1.71
11     5.00
12     1.57
13     3.00
14     3.02
15     3.92
16     1.67
17     3.71
18     3.50
19     3.35
20     4.08
21     2.75
22     2.23
23     7.58
24     3.18
25     2.34
26     2.00
27     2.00
28     4.30
29     3.00
       ...
214    6.50
215    1.10
216    3.00
217    1.50
218    1.44
219    3.09
220    2.20
221    3.48
222    1.92
223    3.00
224    1.58
225    2.50
226    2.00
227    3.00
228    2.72
229    2.88
230    2.00
231    3.00
232    3.39
233    1.47
234    3.00
235    1.25
236    1.00
237    1.17
238    4.67
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [11]:
# Set total bill and tip as index (together they are unique values)
df.set_index(['total_bill', 'tip'], inplace=True)
df

                    sex smoker   day    time  size
total_bill tip
16.99      1.01  Female     No   Sun  Dinner     2
10.34      1.66    Male     No   Sun  Dinner     3
21.01      3.50    Male     No   Sun  Dinner     3
23.68      3.31    Male     No   Sun  Dinner     2
24.59      3.61  Female     No   Sun  Dinner     4
25.29      4.71    Male     No   Sun  Dinner     4
8.77       2.00    Male     No   Sun  Dinner     2
26.88      3.12    Male     No   Sun  Dinner     4
15.04      1.96    Male     No   Sun  Dinner     2
14.78      3.23    Male     No   Sun  Dinner     2
10.27      1.71    Male     No   Sun  Dinner     2
35.26      5.00  Female     No   Sun  Dinner     4
15.42      1.57    Male     No   Sun  Dinner     2
18.43      3.00    Male     No   Sun  Dinner     4
14.83      3.02  Female     No   Sun  Dinner     2
21.58      3.92    Male     No   Sun  Dinner     2
10.33      1.67  Female     No   Sun  Dinner     3
16.29      3.71    Male     No   Sun  Dinner     3
16.97      3.50  Female     No   Sun  Dinner     3
20.65      3.35    Male     No   Sat  Dinner     3
17.92      4.08    Male     No   Sat  Dinner     2
20.29      2.75  Female     No   Sat  Dinner     2
15.77      2.23  Female     No   Sat  Dinner     2
39.42      7.58    Male     No   Sat  Dinner     4
19.82      3.18    Male     No   Sat  Dinner     2
17.81      2.34    Male     No   Sat  Dinner     4
13.37      2.00    Male     No   Sat  Dinner     2
12.69      2.00    Male     No   Sat  Dinner     2
21.70      4.30    Male     No   Sat  Dinner     2
19.65      3.00  Female     No   Sat  Dinner     2
...                 ...    ...   ...     ...   ...
28.17      6.50  Female    Yes   Sat  Dinner     3
12.90      1.10  Female    Yes   Sat  Dinner     2
28.15      3.00    Male    Yes   Sat  Dinner     5
11.59      1.50    Male    Yes   Sat  Dinner     2
7.74       1.44    Male    Yes   Sat  Dinner     2
30.14      3.09  Female    Yes   Sat  Dinner     4
12.16      2.20    Male    Yes   Fri   Lunch     2
13.42      3.48  Female    Yes   Fri   Lunch     2
8.58       1.92    Male    Yes   Fri   Lunch     1
15.98      3.00  Female     No   Fri   Lunch     3
13.42      1.58    Male    Yes   Fri   Lunch     2
16.27      2.50  Female    Yes   Fri   Lunch     2
10.09      2.00  Female    Yes   Fri   Lunch     2
20.45      3.00    Male     No   Sat  Dinner     4
13.28      2.72    Male     No   Sat  Dinner     2
22.12      2.88  Female    Yes   Sat  Dinner     2
24.01      2.00    Male    Yes   Sat  Dinner     4
15.69      3.00    Male    Yes   Sat  Dinner     3
11.61      3.39    Male     No   Sat  Dinner     2
10.77      1.47    Male     No   Sat  Dinner     2
15.53      3.00    Male    Yes   Sat  Dinner     2
10.07      1.25    Male     No   Sat  Dinner     2
12.60      1.00    Male    Yes   Sat  Dinner     2
32.83      1.17    Male    Yes   Sat  Dinner     2
35.83      4.67  Female     No   Sat  Dinner     3
29.03      5.92    Male     No   Sat  Dinner     3
27.18      2.00  Female    Yes   Sat  Dinner     2
22.67      2.00    Male    Yes   Sat  Dinner     2
17.82      1.75    Male     No   Sat  Dinner     2
18.78      3.00  Female     No  Thur  Dinner     2

[244 rows x 5 columns]

In [15]:
# Show as true values all the female customers and as False all the male customers
df.loc[:, 'sex'] == 'Female'

total_bill  tip
3.07        1.00      True
5.75        1.00      True
7.25        1.00      True
            5.15     False
7.51        2.00     False
7.56        1.44     False
7.74        1.44     False
8.35        1.50      True
8.51        1.25      True
8.52        1.48     False
8.58        1.92     False
8.77        2.00     False
9.55        1.45     False
9.60        4.00      True
9.68        1.32     False
9.78        1.73     False
9.94        1.56     False
10.07       1.25     False
            1.83      True
10.09       2.00      True
10.27       1.71     False
10.29       2.60      True
10.33       1.67      True
            2.00      True
10.34       1.66     False
            2.00     False
10.51       1.25     False
10.59       1.61      True
10.63       2.00      True
10.65       1.50      True
                     ...
30.40       5.60     False
30.46       2.00     False
31.27       5.00     False
31.71       4.50     False
31.85       3.18     False
32.40       6.00     False
32.68       5.00     False
32.83       1.17     False
32.90       3.11     False
34.30       6.70     False
34.63       3.55     False
34.65       3.68     False
34.81       5.20      True
34.83       5.17      True
35.26       5.00      True
35.83       4.67      True
38.01       3.00     False
38.07       4.00     False
38.73       3.00     False
39.42       7.58     False
40.17       4.73     False
40.55       3.00     False
41.19       5.00     False
43.11       5.00      True
44.30       2.50      True
45.35       3.50     False
48.17       5.00     False
48.27       6.73     False
48.33       9.00     False
50.81       10.00    False
Name: sex, Length: 244, dtype: bool

In [18]:
# Show from the dataframe all the males. 
df.loc[df.loc[:, 'sex'] == 'Male']

                   sex smoker   day    time  size
total_bill tip
7.25       5.15   Male    Yes   Sun  Dinner     2
7.51       2.00   Male     No  Thur   Lunch     2
7.56       1.44   Male     No  Thur   Lunch     2
7.74       1.44   Male    Yes   Sat  Dinner     2
8.52       1.48   Male     No  Thur   Lunch     2
8.58       1.92   Male    Yes   Fri   Lunch     1
8.77       2.00   Male     No   Sun  Dinner     2
9.55       1.45   Male     No   Sat  Dinner     2
9.68       1.32   Male     No   Sun  Dinner     2
9.78       1.73   Male     No  Thur   Lunch     2
9.94       1.56   Male     No   Sun  Dinner     2
10.07      1.25   Male     No   Sat  Dinner     2
10.27      1.71   Male     No   Sun  Dinner     2
10.34      1.66   Male     No   Sun  Dinner     3
           2.00   Male    Yes  Thur   Lunch     2
10.51      1.25   Male     No   Sat  Dinner     2
10.77      1.47   Male     No   Sat  Dinner     2
11.02      1.98   Male    Yes   Sat  Dinner     2
11.24      1.76   Male    Yes   Sat  Dinner     2
11.59      1.50   Male    Yes   Sat  Dinner     2
11.61      3.39   Male     No   Sat  Dinner     2
11.69      2.31   Male     No  Thur   Lunch     2
12.02      1.97   Male     No   Sat  Dinner     2
12.03      1.50   Male    Yes   Fri  Dinner     2
12.16      2.20   Male    Yes   Fri   Lunch     2
12.46      1.50   Male     No   Fri  Dinner     2
12.54      2.50   Male     No   Sun  Dinner     2
12.60      1.00   Male    Yes   Sat  Dinner     2
12.66      2.50   Male     No   Sun  Dinner     2
12.69      2.00   Male     No   Sat  Dinner     2
...                ...    ...   ...     ...   ...
28.44      2.56   Male    Yes  Thur   Lunch     2
28.55      2.05   Male     No   Sun  Dinner     3
28.97      3.00   Male    Yes   Fri  Dinner     2
29.03      5.92   Male     No   Sat  Dinner     3
29.93      5.07   Male     No   Sun  Dinner     4
30.06      2.00   Male    Yes   Sat  Dinner     3
30.40      5.60   Male     No   Sun  Dinner     4
30.46      2.00   Male    Yes   Sun  Dinner     5
31.27      5.00   Male     No   Sat  Dinner     3
31.71      4.50   Male     No   Sun  Dinner     4
31.85      3.18   Male    Yes   Sun  Dinner     2
32.40      6.00   Male     No   Sun  Dinner     4
32.68      5.00   Male    Yes  Thur   Lunch     2
32.83      1.17   Male    Yes   Sat  Dinner     2
32.90      3.11   Male    Yes   Sun  Dinner     2
34.30      6.70   Male     No  Thur   Lunch     6
34.63      3.55   Male    Yes   Sun  Dinner     2
34.65      3.68   Male    Yes   Sun  Dinner     4
38.01      3.00   Male    Yes   Sat  Dinner     4
38.07      4.00   Male     No   Sun  Dinner     3
38.73      3.00   Male    Yes   Sat  Dinner     4
39.42      7.58   Male     No   Sat  Dinner     4
40.17      4.73   Male    Yes   Fri  Dinner     4
40.55      3.00   Male    Yes   Sun  Dinner     2
41.19      5.00   Male     No  Thur   Lunch     5
45.35      3.50   Male    Yes   Sun  Dinner     3
48.17      5.00   Male     No   Sun  Dinner     6
48.27      6.73   Male     No   Sat  Dinner     4
48.33      9.00   Male     No   Sat  Dinner     4
50.81      10.00  Male    Yes   Sat  Dinner     3

[157 rows x 5 columns]

In [19]:
x = df.loc[df.loc[:, 'sex'] == 'Male']

In [20]:
x.loc[50.81 10.00]

SyntaxError: invalid syntax (<ipython-input-20-38a0508771e1>, line 1)

In [12]:
df.groupby(['total_bill', 'tip', 'day']).size()

total_bill  tip    day
3.07        1.00   Sat     1
5.75        1.00   Fri     1
7.25        1.00   Sat     1
            5.15   Sun     1
7.51        2.00   Thur    1
7.56        1.44   Thur    1
7.74        1.44   Sat     1
8.35        1.50   Thur    1
8.51        1.25   Thur    1
8.52        1.48   Thur    1
8.58        1.92   Fri     1
8.77        2.00   Sun     1
9.55        1.45   Sat     1
9.60        4.00   Sun     1
9.68        1.32   Sun     1
9.78        1.73   Thur    1
9.94        1.56   Sun     1
10.07       1.25   Sat     1
            1.83   Thur    1
10.09       2.00   Fri     1
10.27       1.71   Sun     1
10.29       2.60   Sun     1
10.33       1.67   Sun     1
            2.00   Thur    1
10.34       1.66   Sun     1
            2.00   Thur    1
10.51       1.25   Sat     1
10.59       1.61   Sat     1
10.63       2.00   Sat     1
10.65       1.50   Thur    1
                          ..
30.40       5.60   Sun     1
30.46       2.00   Sun     1
31.27       5.00   Sat     1
31.71       4.50   Sun     1
31.85       3.18   Sun     1
32.40       6.00   Sun     1
32.68       5.00   Thur    1
32.83       1.17   Sat     1
32.90       3.11   Sun     1
34.30       6.70   Thur    1
34.63       3.55   Sun     1
34.65       3.68   Sun     1
34.81       5.20   Sun     1
34.83       5.17   Thur    1
35.26       5.00   Sun     1
35.83       4.67   Sat     1
38.01       3.00   Sat     1
38.07       4.00   Sun     1
38.73       3.00   Sat     1
39.42       7.58   Sat     1
40.17       4.73   Fri     1
40.55       3.00   Sun     1
41.19       5.00   Thur    1
43.11       5.00   Thur    1
44.30       2.50   Sat     1
45.35       3.50   Sun     1
48.17       5.00   Sun     1
48.27       6.73   Sat     1
48.33       9.00   Sat     1
50.81       10.00  Sat     1
Length: 243, dtype: int64

In [13]:
# To slice with the multi-index dataframe, sort the index first:

df.sort_index(inplace=True)
df

                     sex smoker   day    time  size
total_bill tip
3.07       1.00   Female    Yes   Sat  Dinner     1
5.75       1.00   Female    Yes   Fri  Dinner     2
7.25       1.00   Female     No   Sat  Dinner     1
           5.15     Male    Yes   Sun  Dinner     2
7.51       2.00     Male     No  Thur   Lunch     2
7.56       1.44     Male     No  Thur   Lunch     2
7.74       1.44     Male    Yes   Sat  Dinner     2
8.35       1.50   Female     No  Thur   Lunch     2
8.51       1.25   Female     No  Thur   Lunch     2
8.52       1.48     Male     No  Thur   Lunch     2
8.58       1.92     Male    Yes   Fri   Lunch     1
8.77       2.00     Male     No   Sun  Dinner     2
9.55       1.45     Male     No   Sat  Dinner     2
9.60       4.00   Female    Yes   Sun  Dinner     2
9.68       1.32     Male     No   Sun  Dinner     2
9.78       1.73     Male     No  Thur   Lunch     2
9.94       1.56     Male     No   Sun  Dinner     2
10.07      1.25     Male     No   Sat  Dinner     2
           1.83   Female     No  Thur   Lunch     1
10.09      2.00   Female    Yes   Fri   Lunch     2
10.27      1.71     Male     No   Sun  Dinner     2
10.29      2.60   Female     No   Sun  Dinner     2
10.33      1.67   Female     No   Sun  Dinner     3
           2.00   Female     No  Thur   Lunch     2
10.34      1.66     Male     No   Sun  Dinner     3
           2.00     Male    Yes  Thur   Lunch     2
10.51      1.25     Male     No   Sat  Dinner     2
10.59      1.61   Female    Yes   Sat  Dinner     2
10.63      2.00   Female    Yes   Sat  Dinner     2
10.65      1.50   Female     No  Thur   Lunch     2
...                  ...    ...   ...     ...   ...
30.40      5.60     Male     No   Sun  Dinner     4
30.46      2.00     Male    Yes   Sun  Dinner     5
31.27      5.00     Male     No   Sat  Dinner     3
31.71      4.50     Male     No   Sun  Dinner     4
31.85      3.18     Male    Yes   Sun  Dinner     2
32.40      6.00     Male     No   Sun  Dinner     4
32.68      5.00     Male    Yes  Thur   Lunch     2
32.83      1.17     Male    Yes   Sat  Dinner     2
32.90      3.11     Male    Yes   Sun  Dinner     2
34.30      6.70     Male     No  Thur   Lunch     6
34.63      3.55     Male    Yes   Sun  Dinner     2
34.65      3.68     Male    Yes   Sun  Dinner     4
34.81      5.20   Female     No   Sun  Dinner     4
34.83      5.17   Female     No  Thur   Lunch     4
35.26      5.00   Female     No   Sun  Dinner     4
35.83      4.67   Female     No   Sat  Dinner     3
38.01      3.00     Male    Yes   Sat  Dinner     4
38.07      4.00     Male     No   Sun  Dinner     3
38.73      3.00     Male    Yes   Sat  Dinner     4
39.42      7.58     Male     No   Sat  Dinner     4
40.17      4.73     Male    Yes   Fri  Dinner     4
40.55      3.00     Male    Yes   Sun  Dinner     2
41.19      5.00     Male     No  Thur   Lunch     5
43.11      5.00   Female    Yes  Thur   Lunch     4
44.30      2.50   Female    Yes   Sat  Dinner     3
45.35      3.50     Male    Yes   Sun  Dinner     3
48.17      5.00     Male     No   Sun  Dinner     6
48.27      6.73     Male     No   Sat  Dinner     4
48.33      9.00     Male     No   Sat  Dinner     4
50.81      10.00    Male    Yes   Sat  Dinner     3

[244 rows x 5 columns]

In [14]:
# to group the values by total bill and tips

df = tips.groupby(['total_bill'])
df

NameError: name 'tips' is not defined

### Total bill to tip

In [61]:
df[['total_bill', 'tip']]